
/* Header  * * * * * * * * * * * */
.navbar {
    background-color: #e2d7ee;
    box-shadow: 0 0 5px #9c77c4;
    border-radius: 0;
}

#switch-icon {
    color: #2b1a3f;
    margin: 18px;
}

/* Form Elements * * * * * * * * */
textarea {
    min-height: 115px;
}

.manager-heading {
    font-weight: bold;
}

.error, .success {
    width: 100%;
    box-shadow: 1px 1px 1px #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.error {
    background-color: orange;
}

.success {
    background-color: lightgreen;
}

/* Manager * * * * * * * * * * * */

.table-row p {
    margin: 5px 0;
}

.table-row:nth-of-type(odd) {
    background-color: #ccc;
}

.rating {
    width: 95px;
    height: 25px;
}

.rating-area, .delete-btn {
    margin: 10px 0;
}

.delete-btn {
    border-radius: 4px;
    height: 25px;
}

/* Media Queries * * * * * * * * */
@media (min-width: 768px) {
    /* Form Elements */
    .form-horizontal .control-label {
        text-align: left;
        padding-right: 0;
    }
}
